<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>

    <title th:text="${blog.name}">Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- CSS customizado -->
    <link href="../css/blog.css" rel="stylesheet">
   
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav-left">
          <a class="blog-nav-item active" href="#">Home</a>
        </nav>
         <nav class="blog-nav-rigth">
          <a class="blog-nav-item active" href="#">Login</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title" th:text="${blog.name}"></h1>
        <p class="lead blog-description" th:text="${blog.title}"/>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post" th:each="post : ${posts}">
            <h2 class="blog-post-title" th:text="${post.title}"></h2>
            <p class="blog-post-meta"><span th:text="${post.date}"></span> postado por <a href="#" th:text="${post.user.username}"></a></p>

            <p th:text="${post.text}"></p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Sobre</h4>
            <p th:text="${blog.description}"></p>
          </div>
         <!--  <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div> -->
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog pessoal do <a href="#" th:text="${blog.user.username}"></a></p>
      <p>
        <a href="#">Voltar para o topo</a>
      </p>
    </footer>

  </body>
</html>
